<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!-- <p id="litter" class='para'><%= title %></p> -->
    <p id="welcome" class='para'>Welcome to my <%= nexttitle %></p>
    <p class='para'>Toss Something In Down Below<span id='elipse'>...</span></p>
    <div id="tweet-form"> </div>

    <div id="tweet-list"></div>

<script type="text/javascript" src="../javascripts/bundle.js"></script>
  </body>
</html>
