
@font-face {

font-family: 'ransom';
    src: url('../fonts/Got_Heroin.ttf');

}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#litter {
  margin-top: 0px;
  margin-bottom: 0px;

}



#welcome {

  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.para {
    font-family: 'ransom';
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 15px;
}

#elipse {
  font-family: sans-serif;


}
a {
  color: #00B7FF;
}

#tweet-list ul {
  list-style: none;


}

li {
  border: 2px solid grey;
  text-align: justify;
  font-size: 35px;
  padding: 20px;
  margin-bottom: 5px;

}

#imgdiv {

  float: left;
}
.fa-thumbs-up { color: blue;}

.fa-ban { color: red;}

.pic {

border: 2px solid blue;
height: 80px;
margin-right: 20px;
content:url("../images/fb2.jpg");

}

#tweet-input {
  width: 540px;
  height: 100px;
  border: 2px solid blue;

}

#mysubmitbutton {
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: green;
  color: white;
  font-size: 25px;

}

#reactdiv {
margin:0 auto;
display: block;
text-align: center;
margin-top: -20px;
}
